@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Noto+Sans+TC:wght@100..900&family=Manrope:wght@200..800&family=Parkinsans:wght@300..800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 93px;
  line-height: 1.5;
  font-family: "Dela Gothic One";
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 65px;
    line-height: 1.5;
  }
}

h2 {
  font-size: 60px;
  line-height: 1.5;
  font-family: "Dela Gothic One";
}
@media screen and (max-width: 576px) {
  h2 {
    font-size: 36px;
    line-height: 1.5;
  }
}

.title1 {
  font-size: 30px;
  line-height: 1.5;
}
@media screen and (max-width: 576px) {
  .title1 {
    font-size: 24px;
    line-height: 1.5;
  }
}

.title2 {
  font-size: 20px;
  line-height: 1.5;
}
@media screen and (max-width: 576px) {
  .title2 {
    font-size: 18px;
    line-height: 1.5;
  }
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.caption {
  font-size: 14px;
  line-height: 1.5;
}

[class*=title].bold, p.bold, .caption.bold {
  font-weight: bold;
}

.btn_filled {
  color: #ffffff;
  background-color: #8C25C0;
  padding: 16px 24px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 180px;
  border-radius: 100px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  display: block;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #8C25C0;
}
.btn_filled:hover {
  background: #9538C4;
}
.btn_filled:active {
  background: #6d1d95;
}
@media screen and (max-width: 576px) {
  .btn_filled {
    min-width: 136px;
  }
}

.btn_outline {
  color: #8C25C0;
  background-color: transparent;
  padding: 16px 24px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 180px;
  border-radius: 100px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  display: block;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #8C25C0;
}
.btn_outline:hover {
  background-color: #f6e9fe;
}
.btn_outline:active {
  background-color: #e2b8fb;
  border-color: #9538c4;
}
@media screen and (max-width: 576px) {
  .btn_outline {
    min-width: 136px;
  }
}

.btn_white {
  color: #8C25C0;
  background-color: #ffffff;
  padding: 16px 24px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 180px;
  border-radius: 100px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  display: block;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #ffffff;
}
.btn_white:hover {
  background-color: #f6e9fe;
}
.btn_white:active {
  background-color: #e2b8fb;
  color: #9538c4;
}
@media screen and (max-width: 576px) {
  .btn_white {
    min-width: 136px;
  }
}

.btn_filled.small,
.btn_white.small,
.btn_outline.small {
  height: 48px;
  padding: 12px 20px;
  min-width: 100px;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (max-width: 576px) {
  .btn_filled.small,
  .btn_white.small,
  .btn_outline.small {
    min-width: 80px;
  }
}

.btn_filled:disabled,
.btn_white:disabled,
.btn_outline:disabled {
  color: #7D8A93;
  background-color: #CCD1D5;
  padding: 16px 24px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 180px;
  border-radius: 100px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  display: block;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #CCD1D5;
  cursor: not-allowed;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.footer {
  background-color: #232529;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer-container {
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  gap: 12px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}

.footer-logo .icon {
  align-items: center;
  display: flex;
  margin: auto;
  gap: 16px;
}

.footer-menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  white-space: nowrap;
}

.footer-bottom {
  width: 100%;
  padding-top: 40px;
  gap: 24px;
}

.footer-text {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  text-align: justify;
}

.footer-link ul {
  display: flex;
  gap: 24px;
  list-style: none;
}
.footer-link a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.form-group .input-label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #232529;
  margin-bottom: 8px;
}
.form-group .input-label.required:after {
  content: "*";
  color: #E3002C;
  margin-left: 4px;
}

.input-wrapper {
  position: relative;
  width: 100%;
}
.input-wrapper .input-field {
  width: 100%;
  height: 56px;
  padding: 16px 20px;
  border: 1px solid #CCD1D5;
  border-radius: 20px;
  font-size: 16px;
  color: #232529;
  background-color: #ffffff;
  transition: all 0.3s ease;
}
.input-wrapper .input-field::-moz-placeholder {
  color: #CCD1D5;
}
.input-wrapper .input-field::placeholder {
  color: #CCD1D5;
}
.input-wrapper .input-field:focus {
  outline: 1px;
  border: 1px solid #8C25C0;
}
.input-wrapper .input-field:not(:-moz-placeholder-shown) {
  border-color: #CCD1D5;
}
.input-wrapper .input-field:not(:placeholder-shown) {
  border-color: #CCD1D5;
}
.input-wrapper .input-field:disabled {
  background-color: #E9ECEF;
  border-color: #CCD1D5;
  color: #7D8A93;
  cursor: not-allowed;
}
.input-wrapper .input-field:disabled::-moz-placeholder {
  color: #CCD1D5;
}
.input-wrapper .input-field:disabled::placeholder {
  color: #CCD1D5;
}
.input-wrapper.with-button {
  position: relative;
}
.input-wrapper.with-button .input-field {
  width: 100%;
  padding-right: 120px;
}
.input-wrapper .upload-button {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 80px;
  background-color: #8C25C0;
  color: #ffffff;
  padding: 12px 8px;
  border-radius: 0 12px 12px 0;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.input-wrapper .upload-button:hover {
  background-color: #a63eda;
}
.input-wrapper .upload-button:active {
  color: #8C25C0;
}
.input-wrapper .error-message {
  position: absolute;
  right: 0;
  top: -34px;
  right: 8px;
  font-size: 16px;
  color: #E3002C;
}
.input-wrapper .text-button {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 12px;
  border: none;
  background: none;
  color: #8C25C0;
  font-size: 16px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
}
.input-wrapper .text-button:hover {
  color: #a63eda;
}
.input-wrapper .text-button:active {
  color: #8C25C0;
}
.input-wrapper.error .input-field {
  border-color: #E3002C;
}
.input-wrapper.disabled .input-field {
  background-color: #E9ECEF;
  border-color: #CCD1D5;
  color: #7D8A93;
  cursor: not-allowed;
}
.input-wrapper.disabled .input-field::-moz-placeholder {
  color: #CCD1D5;
}
.input-wrapper.disabled .input-field::placeholder {
  color: #CCD1D5;
}

.input-wrapper.small .input-field {
  height: 48px;
  padding: 12px 36px 12px 20px;
  font-size: 16px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  background-color: #ffffff;
}

.select-group .select-label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #232529;
  margin-bottom: 8px;
}
.select-group .select-label.required:after {
  content: "*";
  color: #E3002C;
  margin-left: 4px;
}

.select-wrapper {
  width: 100%;
  position: relative;
}
.select-wrapper .select-field {
  width: 100%;
  height: 56px;
  padding: 16px 36px 16px 16px;
  border: 1px solid #CCD1D5;
  border-radius: 20px;
  background-color: #ffffff;
  font-size: 16px;
  color: #232529;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.select-wrapper .select-field::-moz-placeholder {
  color: #CCD1D5;
}
.select-wrapper .select-field::placeholder {
  color: #CCD1D5;
}
.select-wrapper .select-field:focus {
  outline: 1px;
  border: 1px solid #8C25C0;
}
.select-wrapper .select-field:disabled {
  background-color: #E9ECEF;
  border-color: #CCD1D5;
  color: #7D8A93;
  cursor: not-allowed;
}
.select-wrapper .select-field:disabled::-moz-placeholder {
  color: #CCD1D5;
}
.select-wrapper .select-field:disabled::placeholder {
  color: #CCD1D5;
}
.select-wrapper .select-arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-right: 2px solid #7D8A93;
  border-bottom: 2px solid #7D8A93;
  transform: translateY(-50%) rotate(45deg);
  transition: transform ease-in-out 0.3s;
  pointer-events: none;
}
.select-wrapper.error .select-field {
  border-color: #E3002C;
}
.select-wrapper.error .error-message {
  position: absolute;
  right: 0;
  top: -34px;
  right: 8px;
  font-size: 16px;
  color: #E3002C;
}
.select-wrapper.disabled .select-field {
  background-color: #E9ECEF;
  border-color: #CCD1D5;
  color: #7D8A93;
  cursor: not-allowed;
}
.select-wrapper.disabled .select-arrow {
  border-color: #7D8A93;
}

.select-wrapper.small .select-field {
  height: 48px;
  padding: 12px 36px 12px 20px;
  font-size: 16px;
}

.checkbox {
  opacity: 0; /* 隱藏原生 checkbox，但仍保留其交互性 */
  position: absolute;
}

label .checkbox-custom {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid #CCD1D5;
  background-color: #ffffff;
  margin-right: 8px;
  position: relative;
  border-radius: 4px; /* 設定圓角 */
}

/* 勾選後框的顏色變為紫色 */
.checkbox:checked + span {
  border-color: #8C25C0;
}

.checkbox:checked + .checkbox-custom::after {
  content: "✔";
  color: #8C25C0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn_filled {
  color: #ffffff;
  background-color: #8C25C0;
  padding: 16px 24px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 180px;
  border-radius: 100px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  display: block;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #8C25C0;
}
.btn_filled:hover {
  background: #9538C4;
}
.btn_filled:active {
  background: #6d1d95;
}
@media screen and (max-width: 576px) {
  .btn_filled {
    min-width: 136px;
  }
}

.btn_outline {
  color: #8C25C0;
  background-color: transparent;
  padding: 16px 24px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 180px;
  border-radius: 100px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  display: block;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #8C25C0;
}
.btn_outline:hover {
  background-color: #f6e9fe;
}
.btn_outline:active {
  background-color: #e2b8fb;
  border-color: #9538c4;
}
@media screen and (max-width: 576px) {
  .btn_outline {
    min-width: 136px;
  }
}

.btn_white {
  color: #8C25C0;
  background-color: #ffffff;
  padding: 16px 24px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 180px;
  border-radius: 100px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  display: block;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #ffffff;
}
.btn_white:hover {
  background-color: #f6e9fe;
}
.btn_white:active {
  background-color: #e2b8fb;
  color: #9538c4;
}
@media screen and (max-width: 576px) {
  .btn_white {
    min-width: 136px;
  }
}

.btn_filled.small,
.btn_white.small,
.btn_outline.small {
  height: 48px;
  padding: 12px 20px;
  min-width: 100px;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (max-width: 576px) {
  .btn_filled.small,
  .btn_white.small,
  .btn_outline.small {
    min-width: 80px;
  }
}

.btn_filled:disabled,
.btn_white:disabled,
.btn_outline:disabled {
  color: #7D8A93;
  background-color: #CCD1D5;
  padding: 16px 24px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 180px;
  border-radius: 100px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  display: block;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #CCD1D5;
  cursor: not-allowed;
}

.radio-container {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 4px;
  margin: 4px 0;
}

.radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.radio-input:checked + .radio-custom {
  border-color: #8C25C0;
}
.radio-input:checked + .radio-custom:after {
  transform: scale(1);
  opacity: 1;
}
.radio-input:focus + .radio-custom {
  box-shadow: 0 0 0 3px rgba(140, 37, 192, 0.2);
}
.radio-input:disabled + .radio-custom {
  opacity: 0.5;
  cursor: not-allowed;
}

.radio-custom {
  position: relative;
  height: 20px;
  width: 20px;
  border: 1px solid #CCD1D5;
  background-color: #ffffff;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.radio-custom:after {
  content: "";
  position: absolute;
  top: 18%;
  left: 18%;
  transform: translate(-50%, -50%) scale(0);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #8C25C0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.radio-custom:hover {
  border-color: #b0b8be;
}

.radio-label {
  margin-left: 8px;
  font-size: 14px;
  line-height: 1.4;
}

.radio-group {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}
.radio-group--horizontal {
  flex-direction: row;
  gap: 16px;
}

.my-swal-M {
  display: flex;
  align-items: center;
  width: 480px;
  gap: 15px;
  padding: 40px 24px;
  flex-direction: column;
  border-radius: 20px;
}

.my-swal-M > .swal2-title {
  order: 1; /* 將標題調整為第一個 */
  font-size: unset;
  padding: 0;
  color: #232529;
}

.my-swal-M > .swal2-html-container > .content {
  order: 2; /* 將 ICON 調整為第二個 */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.my-swal-M > .swal2-html-container > .content > .title1 {
  color: #232529;
}

.my-swal-M > .swal2-html-container > .content > .title2 {
  color: #495057;
}

.my-swal-M .swal2-html-container {
  order: 3; /* 將 文字 調整為第三個 */
  padding: 0;
}

.my-swal-M > .swal2-actions {
  order: 4; /* 將 按鈕 調整為第四個 */
  margin: 0;
}

.my-swal-M > .swal2-actions {
  margin: 0;
}

.my-swal-M > .swal2-actions > .swal2-confirm {
  order: 2;
}

.my-swal-M > .swal2-actions > .swal2-cancel {
  order: 1;
}

.backend_alertTittle {
  font-size: 50px;
}

.swal2-container {
  background: rgba(35, 37, 41, 0.5) !important;
}

.my-swal-L {
  display: flex;
  align-items: center;
  width: 71.125rem;
  padding: 2.5rem 1.5rem;
  gap: 2.5rem;
  flex-direction: column;
  border-radius: 20px;
}
@media screen and (max-width: 576px) {
  .my-swal-L {
    gap: 20px;
  }
}

.my-swal-L > .swal2-title {
  order: 1; /* 將標題調整為第一個 */
  font-size: unset;
  padding: 0;
  color: #232529;
}

.my-swal-L > .swal2-html-container > .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  max-height: 350px;
  max-width: 1090px;
}

.my-swal-L > .swal2-html-container::-webkit-scrollbar {
  width: 10px;
}

.my-swal-L > .swal2-html-container::-webkit-scrollbar-thumb {
  background: #495057;
  border-radius: 100px;
}

.my-swal-L > .swal2-html-container > .content > .row_box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 1145px) {
  .my-swal-L > .swal2-html-container > .content > .row_box {
    align-items: center;
    flex-direction: column;
  }
}

.my-swal-L > .swal2-html-container > .content > .row_box > .image {
  width: 335px;
  height: 273px;
  border-radius: 12px;
  background: #CCD1D5;
}
@media screen and (max-width: 576px) {
  .my-swal-L > .swal2-html-container > .content > .row_box > .image {
    width: 100%;
    height: 100%;
  }
}

.my-swal-L > .swal2-html-container > .content > .row_box > .image > img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: block;
}

.my-swal-L > .swal2-html-container > .content > .row_box > .text_box {
  width: 715px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 1145px) {
  .my-swal-L > .swal2-html-container > .content > .row_box > .text_box {
    margin: 2.5rem 0;
    width: 100%;
    text-align: center;
  }
}

.my-swal-L > .swal2-html-container > .content > .row_box > .text_box > .title2 {
  color: #232529;
}
@media screen and (max-width: 1145px) {
  .my-swal-L > .swal2-html-container > .content > .row_box > .text_box > .title2 {
    margin: 10px 0;
  }
}

.my-swal-L > .swal2-html-container > .content > .row_box > .text_box > .body {
  min-height: 216px;
}
@media screen and (max-width: 1145px) {
  .my-swal-L > .swal2-html-container > .content > .row_box > .text_box > .body {
    min-height: 0;
  }
}

.my-swal-L .swal2-html-container {
  order: 2; /* 將 中間內容 調整為第二個 */
  padding: 0;
}

.my-swal-L > .swal2-actions {
  order: 3; /* 將 按鈕外部容器 調整為第三個 */
  margin: 0;
  display: flex;
  gap: 8px;
}

.my-swal-L > .swal2-actions > .swal2-confirm {
  order: 2; /* 將 關閉按鈕 調整為第一個 */
  margin: 0;
}

.my-swal-L > .swal2-actions > .swal2-cancel {
  order: 1; /* 將 另個按鈕 調整為第二個 */
  margin: 0;
}

.swal2-container {
  background: rgba(35, 37, 41, 0.5) !important;
  padding: 0 20px;
}

.my-swal-mobile {
  display: flex;
  align-items: center;
  padding: 2.5rem 1.5rem;
  gap: 1.5rem;
  flex-direction: column;
  border-radius: 20px;
}

.my-swal-mobile > .swal2-close {
  width: unset;
  height: unset;
}

.my-swal-mobile > .swal2-title {
  order: 1; /* 將標題調整為第一個 */
  font-size: unset;
  padding: 0 40px; /* 設左右 40px 是防止被 X按鈕擋到 */
  color: #232529;
}

.my-swal-mobile > .swal2-html-container > .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.my-swal-mobile > .swal2-html-container > .content > .image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: #CCD1D5;
}

.my-swal-mobile > .swal2-html-container > .content > .image > img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: block;
}

.my-swal-mobile > .swal2-html-container > .content > .text_box {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: space-between;
}

.my-swal-mobile > .swal2-html-container > .content > .text_box > .title1 {
  color: #232529;
}

.my-swal-mobile .swal2-html-container {
  order: 2; /* 將 中間內容 調整為第二個 */
  padding: 0;
}

.my-swal-mobile > .swal2-actions {
  order: 3; /* 將 按鈕外部容器 調整為第三個 */
  margin: 0;
  display: flex;
  gap: 8px;
}

.my-swal-mobile > .swal2-actions > .swal2-cancel {
  order: 1; /* 將 關閉按鈕 調整為第一個 */
  margin: 0;
}

.my-swal-mobile > .swal2-actions > .swal2-confirm {
  order: 2; /* 將 另個按鈕 調整為第二個 */
  margin: 0;
}

body {
  font-family: "NotoSansTC", "Microsoft JhengHei", "PingFang TC", "Heiti TC", "Source Han Sans TC", "Segoe UI", Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

.txt-primary-400 {
  color: #8C25C0;
}

.txt-neutral-400 {
  color: #495057;
}

.txt-neutral-200 {
  color: #7D8A93;
}

.txt-neutral-150 {
  color: #CCD1D5;
}

.txt-neutral-0 {
  color: #ffffff;
}

.txt-metro-green {
  color: #008659;
}

.txt-metro-blue {
  color: #0070BD;
}

.txt-metro-red {
  color: #E3002C;
}

.txt-metro-brown {
  color: #C48C31;
}

.txt-metro-yellow {
  color: #F8B61C;
}

.txt-green-400 {
  color: #2EB94C;
}

.txt-aqua-400 {
  color: #00C9A7;
}

.txt-pink-400 {
  color: #FC79D0;
}

.txt-orange-400 {
  color: #FF974B;
}

.txt-yellow-400 {
  color: #FCD34D;
}

.bg-primary-400 {
  background-color: #8C25C0;
}

.bg-neutral-400 {
  background-color: #495057;
}

.bg-neutral-200 {
  background-color: #7D8A93;
}

.bg-neutral-150 {
  background-color: #CCD1D5;
}

.bg-neutral-0 {
  background-color: #ffffff;
}

.bg-metro-green {
  background-color: #008659;
}

.bg-metro-blue {
  background-color: #0070BD;
}

.bg-metro-red {
  background-color: #E3002C;
}

.bg-metro-brown {
  background-color: #C48C31;
}

.bg-metro-yellow {
  background-color: #F8B61C;
}

.bg-green-400 {
  background-color: #2EB94C;
}

.bg-aqua-400 {
  background-color: #00C9A7;
}

.bg-pink-400 {
  background-color: #FC79D0;
}

.bg-orange-400 {
  background-color: #FF974B;
}

.bg-yellow-400 {
  background-color: #FCD34D;
}/*# sourceMappingURL=style.css.map */