// 主色
$primary-950: #460961;
$primary-400: #8C25C0;
$primary-200: #E0C4EE;

// 灰階
$neutral-700: #232529;
$neutral-400: #495057;
$neutral-200: #7D8A93;
$neutral-150: #CCD1D5;
$neutral-50: #E9ECEF;
$neutral-0: #ffffff;

// 捷運線
$metro-green: #008659;
$metro-blue: #0070BD;
$metro-red: #E3002C;
$metro-brown: #C48C31;
$metro-yellow: #F8B61C;

// Others
$green-400: #2EB94C;
$aqua-400: #00C9A7;
$pink-400: #FC79D0;
$orange-400: #FF974B;
$yellow-400: #FCD34D;