@import '../mixin/_mixin';

// 引用 google-font
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Noto+Sans+TC:wght@100..900&family=Manrope:wght@200..800&family=Parkinsans:wght@300..800&display=swap");
$font-dela: "Dela Gothic One";
$font-noto: "NotoSansTC";

h1 {
    font-size: 93px;
    line-height: 1.5;
    font-family: $font-dela;

    @include mobile() {
        font-size: 65px;
        line-height: 1.5;
    }
}

h2 {
    font-size: 60px;
    line-height: 1.5;
    font-family: $font-dela;

    @include mobile() {
        font-size: 36px;
        line-height: 1.5;
    }
}

.title1 {
    font-size: 30px;
    line-height: 1.5;
    @include mobile() {

        font-size: 24px;
        line-height: 1.5;
    }
}

.title2 {
    font-size: 20px;
    line-height: 1.5;

    @include mobile() {
        font-size: 18px;
        line-height: 1.5;
    }
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.caption {
    font-size: 14px;
    line-height: 1.5;
}

// 文字 class 後方帶 bold 變粗體
[class*="title"], p, .caption {
    &.bold {
    font-weight: bold;
    }
}