@use "@/assets/sass/base/color" as *;
@use "@/assets/sass/base/font" as *;

.user-profile {
    display: flex;
    gap: 32px;
    padding: 20px;
    margin-bottom: 20px;
    background: $neutral-0;
    border-radius: 10px;
    box-shadow: 0 0 10px $neutral-150;
  
    .profile-card {
      display: flex;
      align-items: center;
      gap: 24px;
      
      .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
  
      .info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        
        .info-row {
          display: flex;
          gap: 10px;
          align-items: center;
  
          .info-title {
            width: 80px;
          }
        }
      }
    }
  }

.tabs-container {
    width: 100%;
    max-width: 1024px;
  
    .tabs {
      display: flex;
      gap: 16px;
      margin-bottom: 20px;
  
      .tab {
        width: 100px;
        padding: 10px;
        text-align: center;
        font-weight: 700;
        border-bottom: 4px solid $neutral-150;
        color: $neutral-150;
        cursor: pointer;
        transition: all 0.3s ease;
  
        &.active {
          border-bottom-color: $primary-400;
          color: $primary-400;
        }
      }
    }
  
    .tab-content {
      margin-top: 10px;

      .filter-group{
        justify-content:flex-end;
      }
    }

    .td-center{
      display: flex;
      justify-content: center;
    }

    .CheckedinStatus_Box{
      width: 125px;
      display: flex;
      justify-content: space-between;
    }
    
    .CheckedinStatus_Box > .CheckedInStatus{
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      background-color:$neutral-150;
    }
    
    // 如果是已打卡 
    .checked-in{
      background-color:$metro-green !important;
      color: $neutral-0;
    }
    // 如果是未打卡
    .not-checked-in{
      background-color:$metro-red !important;
      color: $neutral-0;
    }

    // 特殊任務照片詳情
    .photo-detail-title {
      text-align: left;
      margin-top: 40px;
      margin-bottom: 20px;
    }

    .td-center .radio-group {
      flex-direction: column;
      gap: 4px;
    }

    /* 可點擊的按鈕樣式 */
      .table-btn.view-btn {
        cursor: pointer;
      }

      /* 禁用的radio按鈕樣式 */
      .radio-container.disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }

      .radio-container.disabled .radio-label {
        color: #999;
      }
}
