* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.entrance-container {
  width: 100%;
  max-width: 1920px;
}
.bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("@/assets/images/Entrance_background.svg") center/cover
    no-repeat;
  z-index: -1;
}

.content {
  width: 100%;
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.front_logo {
  margin: auto;
  display: flex;
  justify-content: center;
}
.entrance-info {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.entrance-arrow {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 480px;
}
.left {
  cursor: pointer;
  z-index: 999;
  transition: transform 0.5s ease;
}
.left:hover {
  transform: scale(1.1);
}
.metro {
  position: absolute;
  top: 180px;
}
.small {
  position: absolute;
}
.big {
  position: relative;
  top: 70px;
  right: 8px;
}

@media screen and (max-width: 946px) {
  .metro {
    top: 300px;
  }
  .entrance-arrow {
    gap: 20px;
  }
}

@media screen and (max-width: 693px) {
  .metro {
    top: 500px;
  }
}
