.container {
    margin: 0;
    padding: 0;
  }
  .back {
    position: relative;
  }
  .vector-left {
    position: absolute;
    top: 0;
    left: 0;
  }
  .vector-right {
    position: absolute;
    top: 0;
    right: 0;
  }
  .front {
    position: relative;
    top: 50px;
  }
  .front_logo {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .arrow {
    position: relative;
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .left {
    position: relative;
    cursor: pointer;
    z-index: 999;
  }
  .left:hover {
    transform: scale(1.1);
  }
  .right {
    position: relative;
    cursor: pointer;
    z-index: 999;
  }
  .right:hover {
    transform: scale(1.1);
  }
  
  .metro {
    position: relative;
  }
  
  .small {
    position: absolute;
  }
  
  .big {
    position: relative;
    top: 70px;
    right: 8px;
  }