@import "../base/color";
@import "../base/font";
@import "../base/reset";


*{
    margin: 0;
    padding: 0;
}
.div-all{
    box-sizing: border-box;
}

.spaceing-g8{
    gap: 8px;
}

.spaceing-g24{
    gap: 24px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

img{
    max-width: 100%;
    height: auto;
}
.featured-main{
    max-width: 1024px;
    margin: auto;
    margin-bottom: 20px;
}

.journey_featured_title1{
    h1{
    // font-size: 64px;
    text-align: center;
    line-height: 1.25;
    color: $neutral-700;
    margin: 12px 0px;
    }
}

.features-img-container{
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.top-images{
    gap: 32px;
    justify-content: center;
}

.top-img-top{
    align-self: center;
}
.side-images{
    flex-direction: column;
    align-items: center;
}
.bottom-images {
    gap: 32px;
    justify-content: center;
}
.journey_featured_main_photo {
    max-width: 100%;
    object-fit: contain;
}
  
.journey_featured_photo1, .journey_featured_photo3 {
    max-width: 100%;
    object-fit: cover;
}

/* 商家資訊區塊 */
.journey-featured-info{
    width: 100%;
    padding: 36px 0px;
}

.featured-info-title{
    color: $neutral-0;
}

.info-card{
    color: $neutral-0;
    margin: 0px 0px 36px 0px;
    
    p{
        font-size: 18px;
    }
}
.featured-content-pic{
    width: 100%;
}
.journey_featured_photo6{
    width: 100%;
    object-fit: cover;
}


/* 文字內容區塊 */
.featured-paragraph-main{
    max-width: 1024px;
    margin: auto;
}
.featured-paragraph {
    display: flex;
    margin: 0 auto;
}

/* 主要內容區域 */
.featured-paragraph-content {
    flex: 2;
    padding: 32px 32px 32px 0px;
    text-align: justify;

    h3 {
        font-size: 18px;
        line-height: 1.5;
        font-weight: bold;
    }

    p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 24px;
    }
}


/* 側邊欄 */
.featured-sidebar {
    flex: 1;
    background-color: $neutral-400;
    color: $neutral-0;
    padding: 20px;
}
.sidebar-title{
    text-align: center;
    padding-bottom: 16px;
}

.sidebar-title hr {
    border-top: 3px solid $neutral-0;
    margin: 20px 0;
}

.featured-sidebar h2 {
    font-size: 24px;
}

/* 精選文章列表 */
.featured-articles {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: $neutral-0;

    .article-link {
        text-decoration: none;
        padding: 10px;
      }

    .article-link:hover {
        background-color: $neutral-700;
      }
    .article-divider {
        border: 1px solid $neutral-0;
    }
}

.article {
    display: flex;
    align-items:flex-start;
    gap: 24px;
    padding: 0;
    transition: padding 0.3s ease;

    img {
        width: 120px;
        height: 100%;
        object-fit: cover;
    }

    p{
        color: $neutral-0;
        font-size: 16px;
        line-height: 1.5;
        width: 100%;
        text-align: justify;
        display: -webkit-box; /* 必須搭配 */
        -webkit-box-orient: vertical; /* 必須搭配 */
        -webkit-line-clamp: 2; /* 限制最多 2 行 */
        overflow: hidden; /* 防止溢出 */
        text-overflow: ellipsis;
    }
}


$metro-colors: (
  yellow: $metro-yellow,
  red: $metro-red,
  blue: $metro-blue,
  green: $metro-green,
  brown: $metro-brown,
  lightgreen: $green-400,
  lightblue: $aqua-400,
  lightred: $pink-400,
  lightbrown: $orange-400,
  lightyellow: $yellow-400,
);
@each $name, $color in $metro-colors {
  .#{$name} {
    background-color: $color;
  }
}


@media screen and (max-width : 1024px) {
    .featured-main{
        margin: 0 40px 20px 40px;
    }
    .featured-paragraph-main{
        margin: 0 40px 0px 40px;
    }
}

@media screen and (max-width : 768px) {
    .featured-paragraph {
        display: flex;
        flex-direction: column;
    }
    .features-img-container{
        gap: 12px;
    }
    .top-images{
        gap: 16px;
    }
    .bottom-images{
        gap: 16px;
    }
    .journey_featured_title1{
        h1{
        font-size: 48px;
    }
    }
    .featured-paragraph-content{
        padding: 32px 0px;
    }
    .article img{
        width: 80px;
    }
}