.blueline_introduce {
    background-color: #0070BD;
}
.bl_intr_banner_01 {
    background-color: #99d6ff;
    width: 400px;
    height: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.bl_inter_banner_01a {
    width: 300px;
    height: 417px;
}
.b1_inter_banner_01_1 {
    width: 327px;
    height: 158px;
}
.bl_intr_banner_02 {
    background-color: #99d6ff;
    width: 400px;
    height: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.bl_inter_banner_02a {
    width: 300px;
    height: 417px;
}
.b1_inter_banner_02_1{
    width: 327px;
    height: 158px;
}
.bl_intr_banner_03 {
    background-color: #99d6ff;
    width: 400px;
    height: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.bl_inter_banner_03a {
    width: 300px;
    height: 417px;
}
.b1_inter_banner_03_1 {
    width: 327px;
    height: 158px;
}
.bl_intr_banner_04 {
    background-color: #99d6ff;
    width: 400px;
    height: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.bl_inter_banner_04a {
    width: 300px;
    height: 417px;
}
.bl_inter_banner_04_1 {
    width: 327px;
    height: 158px;
}
.bl_intr_banner_05 {
    background-color: #99d6ff;
    width: 400px;
    height: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.bl_inter_banner_05a {
    width: 300px;
    height: 417px;
}
.bl_inter_banner_05_1 {
    width: 327px;
    height: 158px;
}
.bl_intr_banner_06 {
    background-color: #99d6ff;
    width: 400px;
    height: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.bl_inter_banner_06a {
    width: 300px;
    height: 417px;
}
.bl_inter_banner_06_1 {
    width: 327px;
    height: 158px;
}
.p1 {
    color: #fff200;
}
.p5 {
    color: #232529;
}
.hr-container {
    border: 0;
    border-top: 1px solid #fff200;
    position: relative;
    text-align: center;
    margin: 20px 0;
}