// rwd 手機 576 斷點(暫定)
@mixin mobile() {
  @media screen and (max-width: 576px) {
    @content;
  }
}

// 按鈕
@mixin btn($bgc, $color, $border: 100px) {
  color: $color;
  background-color: $bgc;
  padding: 16px 24px;
  width: fit-content;
  min-width: 180px;
  border-radius: $border;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  display: block;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease;
}

// display:flex/align-items-center

@mixin flex-center {
  display: flex;
  align-items: center;
}
